/*  Variables  */
/*   Mixins  */
/*  Gradients  */
/*  Transition  */
/*  Box Sizing  */
/*  Box Shadow  */
/*  Border Radius  */
/*  Opacity  */
body, html {
  min-height: 100%;
  position: relative; }

body {
  margin: 0;
  font: normal 12px 'Open Sans', arial, sans-serif;
  color: #4d4d4d;
  background: #3d5672; }

a {
  color: black;
  text-decoration: none;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease; }
  a:hover {
    color: #333333;
    text-decoration: none; }

.no-margin {
  margin: 0 !important; }

.auto-margin {
  margin: auto; }

.less-bottom-margin {
  margin-bottom: 5px; }

.no-border {
  border: none !important; }

.no-padding {
  padding: 0 !important; }

.center-align-text {
  text-align: center !important; }

.right-align-text {
  text-align: right !important; }

.left-align-text {
  text-align: left !important; }

.underline-text {
  text-decoration: underline;
  font-weight: 700; }

.text-justify {
  text-align: justify !important; }

.uppercase {
  text-transform: uppercase; }

.lg-border-radius {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.md-border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.sm-border-radius {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.lg-padding {
  padding: 20px; }

.md-padding {
  padding: 10px; }

.sm-padding {
  padding: 5px; }

.progress {
  background-color: #ebebeb;
  box-shadow: none; }

.progress-bar {
  box-shadow: none; }

.progress-sm {
  height: 6px; }

.progress-md {
  height: 10px; }

.progress-xs {
  height: 3px; }

.spacer {
  padding: 20px 10px; }

.spacer-full {
  margin: 0 -10px; }

.spacer-sm {
  padding: 15px; }

.spacer-xs {
  padding: 10px; }

.spacer-md {
  padding: 20px; }

.text-success {
  color: #76bbad !important; }

.text-danger {
  color: #d66061 !important; }

.text-info {
  color: #5b90bf !important; }

.text-warning {
  color: #ffaa3a !important; }

.text-fb {
  color: #4c66a4; }

.text-twitter {
  color: #00acee; }

.text-gplus {
  color: #dc4937; }

.text-linkedin {
  color: #1a85bd; }

.text-white {
  color: white !important; }

.text-black {
  color: #333333 !important; }

.primary-bg {
  background: #333333 !important;
  color: white; }
  .primary-bg:hover {
    background: #1a1a1a !important; }

.success-bg {
  background: #76bbad !important;
  color: white; }
  .success-bg:hover {
    background: #54aa98 !important; }

.danger-bg {
  color: white;
  background: #d66061 !important; }
  .danger-bg:hover {
    background: #cc3739 !important; }

.info-bg {
  color: white;
  background: #5b90bf !important; }
  .info-bg:hover {
    background: #4177a6 !important; }

.warning-bg {
  color: white;
  background: #ffaa3a !important; }
  .warning-bg:hover {
    background: #ff9407 !important; }

.fb-bg {
  background: #4c66a4;
  color: white; }
  .fb-bg:hover {
    background: #3c5081 !important; }

.twitter-bg {
  background: #00acee;
  color: white; }
  .twitter-bg:hover {
    background: #0087bb !important; }

.linkedin-bg {
  background: #1a85bd;
  color: white; }
  .linkedin-bg:hover {
    background: #146590 !important; }

.gplus-bg {
  background: #dc4937;
  color: white; }
  .gplus-bg:hover {
    background: #bf3321 !important; }

.brown-bg {
  background: #ab7967;
  color: white; }
  .brown-bg:hover {
    background: #90604f !important; }

.grey-bg {
  background: #666666 !important;
  color: #666666; }
  .grey-bg:hover {
    background: #595959 !important; }

.light-grey-bg {
  background: #ecf0f5 !important;
  color: #666666; }

hr.stylish {
  position: absolute;
  left: 0;
  right: 0;
  border: none;
  margin: 0;
  border-top: 1px solid #ededed; }

hr.less-margin {
  margin: 10px 0;
  border-top: 1px solid #d9d9d9; }

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.btn:focus {
  outline: none;
  box-shadow: none;
  box-shadow: none; }

.btn-rounded {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.btn-transparent {
  background-color: transparent !important;
  color: black !important; }

.btn-default {
  background-color: #cbd6e3;
  border-color: #cbd6e3;
  color: #4b6a8d; }
  .btn-default:hover {
    color: #6083ab;
    background-color: #c4d1e0;
    border: 1px solid #c4d1e0; }

.btn-danger {
  background-color: #d66061;
  border-color: #d66061;
  color: white; }
  .btn-danger:hover {
    color: white;
    background-color: #d14c4d;
    border: 1px solid #d9d9d9; }

.btn-success {
  background-color: #76bbad;
  border-color: #76bbad;
  color: white; }
  .btn-success:hover {
    color: white;
    background-color: #65b3a3;
    border: 1px solid #65b3a3; }

.btn-info {
  background-color: #5b90bf;
  border-color: #5b90bf;
  color: white; }
  .btn-info:hover {
    color: white;
    background-color: #4984b8;
    border: 1px solid #4984b8; }

.btn-warning {
  background-color: #ffaa3a;
  border-color: #ffaa3a;
  color: white; }
  .btn-warning:hover {
    color: white;
    background-color: #ff9f21;
    border: 1px solid #ff9f21; }

.btn-danger {
  background-color: #d66061;
  border-color: #d66061;
  color: white; }
  .btn-danger:hover {
    color: white;
    background-color: #d14c4d;
    border: 1px solid #d14c4d; }

.btn-primary {
  background-color: #595959;
  border-color: #595959;
  color: white; }
  .btn-primary:hover {
    color: white;
    background-color: #4d4d4d;
    border: 1px solid #4d4d4d; }

.btn-grey {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
  color: white; }
  .btn-grey:hover {
    color: white;
    background-color: #a6a6a6;
    border: 1px solid #a6a6a6; }

.btn-fb {
  background-color: #4c66a4;
  border-color: #4c66a4;
  color: white; }
  .btn-fb:hover {
    color: white;
    background-color: #445b93;
    border: 1px solid #445b93; }

.btn-twitter {
  background-color: #00acee;
  border-color: #00acee;
  color: white; }
  .btn-twitter:hover {
    color: white;
    background-color: #009ad4;
    border: 1px solid #009ad4; }

.btn-gplus {
  background-color: #dc4937;
  border-color: #dc4937;
  color: white; }
  .btn-gplus:hover {
    color: white;
    background-color: #d43825;
    border: 1px solid #d43825; }

.btn-linkedin {
  background-color: #1a85bd;
  border-color: #1a85bd;
  color: white; }
  .btn-linkedin:hover {
    color: white;
    background-color: #1775a7;
    border: 1px solid #1775a7; }

.btn-brown {
  background-color: #ab7967;
  border-color: #ab7967;
  color: white; }
  .btn-brown:hover {
    color: white;
    background-color: #a06b58;
    border: 1px solid #a06b58; }

.demo-btn-group .btn {
  min-width: 78px;
  margin: 0 3px 3px 0;
  float: left; }

.blog-btn-group .btn {
  margin: 0 3px 3px 0;
  float: left; }

.icon-square {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px !important;
  color: white; }

.icon-bordered {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent !important;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px !important;
  color: gray; }

.icon-rounded {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px !important;
  color: white; }

.icon-success {
  background-color: #76bbad;
  border: 1px solid #65b3a3; }

.icon-info {
  background-color: #5b90bf;
  border: 1px solid #4984b8; }

.icon-danger {
  background-color: #d66061;
  border: 1px solid #d14c4d; }

.icon-warning {
  background-color: #ffaa3a;
  border: 1px solid #ff9f21; }

.icon-fb {
  background-color: #4c66a4;
  border: 1px solid #445b93; }

.icon-twitter {
  background-color: #00acee;
  border: 1px solid #009ad4; }

.icon-linkedin {
  background-color: #1a85bd;
  border: 1px solid #1775a7; }

.img-md {
  width: 80%; }

.img-sm {
  width: 60%; }

.img-xs {
  width: 30%; }

header {
  background: #2b3d51;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  vertical-align: middle; }
  header .logo {
    width: 190px;
    float: left; }
    header .logo a {
      display: block; }
      header .logo a img {
        max-width: 180px; }

@media (max-width: 767px) {
  header .logo {
    width: 160px; }
    header .logo img {
      max-width: 150px; } }
.custom-search {
  position: relative;
  z-index: 1005;
  display: block;
  height: 60px;
  margin: 0 20px; }
  .custom-search ::-webkit-input-placeholder {
    color: #a3b7ce; }
  .custom-search :-moz-placeholder {
    color: #a3b7ce; }
  .custom-search ::-moz-placeholder {
    color: #a3b7ce; }
  .custom-search :-ms-input-placeholder {
    color: #a3b7ce; }
  .custom-search .search-query {
    margin: 0;
    padding: 4px 6px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #a3b7ce;
    background: transparent;
    border: 1px solid #39516c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 160px;
    line-height: 20px;
    font-style: italic; }
    .custom-search .search-query:focus {
      outline: none;
      width: 200px;
      color: #a3b7ce;
      border: 1px solid #466383; }
  .custom-search i {
    padding: 8px;
    cursor: pointer;
    top: 15px;
    position: absolute;
    right: 2px;
    color: #4e6f94; }

@media (max-width: 767px) {
  .custom-search {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .custom-search {
    display: none; } }
.menu-toggle {
  margin-left: 0px;
  float: right;
  display: block; }
  .menu-toggle i {
    color: #466383;
    font-size: 18px;
    vertical-align: middle; }
  .menu-toggle:hover i {
    color: #6789ae; }

ul#mini-nav {
  padding: 0;
  list-style-type: none;
  margin: 0; }
  ul#mini-nav li.list-box {
    position: relative;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    text-align: center;
    line-height: 100%;
    vertical-align: middle; }
    ul#mini-nav li.list-box a {
      padding: 22px 16px;
      display: block; }
      ul#mini-nav li.list-box a i {
        color: #99afc9;
        font-size: 16px; }
    ul#mini-nav li.list-box:hover a i {
      color: #bac9da; }
    ul#mini-nav li.list-box .info-label {
      position: absolute;
      top: 13px;
      right: 6px;
      color: white;
      font-size: 10px;
      text-align: center;
      line-height: 15px;
      width: 15px;
      height: 15px; }
    ul#mini-nav li.list-box.user-profile {
      padding: 0;
      margin-top: 9px;
      background-color: transparent; }
      ul#mini-nav li.list-box.user-profile a.user-avtar {
        width: 42px;
        height: 42px;
        float: left;
        padding: 0; }
        ul#mini-nav li.list-box.user-profile a.user-avtar img {
          border: 2px solid white;
          width: 42px;
          height: 42px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%; }
    ul#mini-nav li.list-box:last-child a {
      padding-right: 0; }
  ul#mini-nav .dropdown-menu {
    min-width: 320px;
    float: left;
    position: absolute;
    right: 0 !important;
    top: 48px;
    left: inherit;
    border: 1px solid #bfbfbf; }
    ul#mini-nav .dropdown-menu:before {
      content: "";
      position: absolute;
      top: -7px;
      right: 15px;
      border-bottom: 7px solid white;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent; }
  ul#mini-nav #mob-nav {
    background-color: #d66061;
    padding: 0;
    margin-top: 14px; }
    ul#mini-nav #mob-nav a {
      padding: 8px 20px; }
      ul#mini-nav #mob-nav a i {
        color: white; }

.dashboard-wrapper {
  padding: 0;
  margin: 0 auto;
  text-align: left;
  margin-left: 210px;
  min-height: 100% !important;
  background: white; }

@media (max-width: 767px) {
  .dashboard-wrapper {
    margin-left: 0;
    border-left: 0; } }
.main-container {
  position: relative;
  padding: 0;
  min-height: 780px;
  /*margin-right: 220px;*/
  border-right: 2px solid #e2e8f0; }

@media (max-width: 767px) {
  .main-container {
    margin-right: 0;
    min-height: 850px;
    border-right: 0 solid #e2e8f0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .main-container {
    margin-right: 0;
    min-height: 880px;
    border-right: 0 solid #e2e8f0; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .main-container {
    margin-right: 0;
    border-right: 0 solid #e2e8f0; } }
.main-container-full {
  position: relative;
  padding: 0;
  min-height: 780px; }

.main-container-grey {
  position: relative;
  padding: 0;
  min-height: 780px;
  background-color: #595959; }

.right-sidebar {
  position: absolute;
  right: 0;
  top: 125px;
  min-height: 780px;
  width: 220px; }
  .right-sidebar .add-on {
    margin: 20px; }
    .right-sidebar .add-on .add-on-wrapper {
      margin-bottom: 10px; }
      .right-sidebar .add-on .add-on-wrapper a.btn {
        opacity: 0.7;
        margin: 2px 2px 0 0;
        float: left; }
        .right-sidebar .add-on .add-on-wrapper a.btn:hover {
          opacity: 1; }
    .right-sidebar .add-on h5 {
      color: #db7475;
      margin: 0 0 5px 0;
      padding: 0 0 5px 0;
      border-bottom: 1px solid #d5dee9; }

@media (max-width: 767px) {
  .right-sidebar {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .right-sidebar {
    display: none; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .right-sidebar {
    display: none; } }
ul.notifications {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.notifications li {
    border-bottom: 1px dotted #e0e0e0;
    padding: 5px 0; }
    ul.notifications li i {
      padding: 6px;
      text-align: center;
      color: white;
      float: left;
      margin-right: 10px;
      width: 24px; }
    ul.notifications li .details {
      margin-left: 30px; }
      ul.notifications li .details p {
        color: #999999;
        padding: 0;
        margin: 0;
        line-height: 8px;
        font-size: 11px; }
      ul.notifications li .details small {
        color: #666666; }
    ul.notifications li:last-child {
      border-bottom: none;
      padding-bottom: 0; }

ul.tasks {
  background-color: #1a1a1a;
  margin: 0;
  padding: 5px 0;
  list-style-type: none;
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  ul.tasks li {
    border-bottom: 1px dotted #262626;
    padding: 5px 10px;
    font-size: 11px;
    color: #8c8c8c; }
    ul.tasks li:last-child {
      border-bottom: none; }
    ul.tasks li .details {
      margin-bottom: 4px; }

.sidebar-addons {
  margin-bottom: 15px; }

ul.views {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 15px; }
  ul.views li {
    position: relative;
    border-bottom: 1px dotted #4e6f94;
    padding: 5px 0; }
    ul.views li i {
      padding-top: 4px;
      margin-left: 3px;
      float: left;
      width: 15px;
      font-size: 14px; }
    ul.views li .details {
      margin-left: 22px;
      padding: 5px 0; }
      ul.views li .details p {
        line-height: 12px;
        color: #88a3c0;
        padding: 0;
        margin: 0; }
    ul.views li .label {
      position: absolute;
      right: 0;
      top: 10px; }
    ul.views li:last-child {
      border-bottom: none; }
    ul.views li:hover {
      cursor: pointer; }

ul.revenue-from {
  margin: 15px 0 0 0;
  padding: 0;
  list-style-type: none; }
  ul.revenue-from li {
    margin-bottom: 16px;
    position: relative; }
    ul.revenue-from li small {
      font-size: 11px;
      font-style: italic; }
    ul.revenue-from li .progress {
      margin: 1px 0 5px 0; }
    ul.revenue-from li .revenue-perc {
      position: absolute;
      right: 0;
      bottom: 6px;
      width: 36px;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      text-align: center;
      border: 1px solid #333333; }
      ul.revenue-from li .revenue-perc.danger {
        border: 1px solid #e69d9d; }
      ul.revenue-from li .revenue-perc.success {
        border: 1px solid #a9d4cc; }
      ul.revenue-from li .revenue-perc.info {
        border: 1px solid #92b5d4; }
      ul.revenue-from li .revenue-perc.warning {
        border: 1px solid #ffaa3a; }
    ul.revenue-from li:last-child {
      margin-bottom: 0; }

aside#sidebar {
  position: absolute;
  left: 0;
  top: 60px;
  width: 210px; }
  aside#sidebar .current-user {
    padding-left: 70px;
    height: 64px;
    margin: 0 0 15px 0;
    padding-top: 10px;
    background: white; }
    aside#sidebar .current-user .user-avatar {
      position: relative;
      width: 42px;
      height: 42px;
      float: left;
      padding: 0;
      margin-left: -50px; }
      aside#sidebar .current-user .user-avatar img {
        width: 42px;
        height: 42px;
        border: 2px solid #99afc9; }
      aside#sidebar .current-user .user-avatar .online {
        border: 2px solid white;
        background: #76bbad;
        height: 10px;
        width: 10px;
        position: absolute;
        right: 2px;
        top: 2px; }
      aside#sidebar .current-user .user-avatar .busy {
        border: 2px solid white;
        background: #d66061;
        height: 12px;
        width: 12px;
        position: absolute;
        right: 2px;
        top: 2px; }
      aside#sidebar .current-user .user-avatar .away {
        border: 2px solid white;
        background: #ffaa3a;
        height: 10px;
        width: 10px;
        position: absolute;
        right: 2px;
        top: 2px; }
    aside#sidebar .current-user .user-name {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      color: #6789ae;
      font-style: italic; }
    aside#sidebar .current-user ul.user-links {
      margin: 4px 0 0 0;
      padding: 0;
      list-style-type: none; }
      aside#sidebar .current-user ul.user-links li {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        background: white;
        border: 1px solid #dbe3ec;
        margin-right: 2px; }
        aside#sidebar .current-user ul.user-links li a {
          line-height: 24px;
          display: block;
          height: 22px;
          width: 22px; }
          aside#sidebar .current-user ul.user-links li a .fa {
            font-size: 12px; }
        aside#sidebar .current-user ul.user-links li:hover {
          background: #ecf0f5; }
  aside#sidebar #menu {
    margin: 20px 0 10px 0;
    display: block;
    width: 100%; }
    aside#sidebar #menu ul, aside#sidebar #menu li {
      margin: 0;
      padding: 0;
      border: 0;
      list-style: none;
      font-weight: normal;
      text-decoration: none;
      line-height: 1;
      position: relative; }
    aside#sidebar #menu > ul > li > a {
      font-size: 14px;
      display: block;
      color: #99afc9;
      font-weight: 400;
      padding: 12px 15px;
      position: relative; }
      aside#sidebar #menu > ul > li > a > i {
        font-size: 14px;
        margin-right: 10px;
        color: #99afc9;
        width: 20px;
        float: left;
        line-height: 14px;
        text-align: center; }
      aside#sidebar #menu > ul > li > a > span {
        display: block; }
    aside#sidebar #menu > ul > li.has-sub > a span {
      background: url(../img/icon_plus.png) 100% center no-repeat; }
    aside#sidebar #menu > ul > li.has-sub.active > a span {
      background: url(../img/icon_minus.png) 100% center no-repeat; }
    aside#sidebar #menu > ul > li.highlight {
      background: #466383; }
      aside#sidebar #menu > ul > li.highlight:before {
        position: absolute;
        left: 0;
        height: 100%;
        border-left: 4px solid #d66061;
        content: ""; }
      aside#sidebar #menu > ul > li.highlight:after {
        position: absolute;
        left: 4px;
        top: 11px;
        height: 0;
        width: 0;
        border-left: 5px solid #d66061;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        content: ""; }
      aside#sidebar #menu > ul > li.highlight a {
        color: #fdfdfe;
        font-weight: 600; }
        aside#sidebar #menu > ul > li.highlight a i {
          color: #fdfdfe; }
        aside#sidebar #menu > ul > li.highlight a:hover {
          text-decoration: none;
          color: #fdfdfe; }
          aside#sidebar #menu > ul > li.highlight a:hover i {
            color: #fdfdfe; }
    aside#sidebar #menu > ul > li:hover {
      background: #466383;
      text-decoration: none; }
      aside#sidebar #menu > ul > li:hover a {
        color: #99afc9; }
        aside#sidebar #menu > ul > li:hover a i {
          color: #99afc9; }
    aside#sidebar #menu .current-page {
      position: absolute;
      right: 0;
      top: 10px;
      height: 0;
      width: 0;
      border-right: 9px solid white;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      content: ""; }
    aside#sidebar #menu ul ul {
      display: none;
      background: white; }
      aside#sidebar #menu ul ul li {
        padding: 0;
        border-bottom: none;
        border-top: none;
        background: #4b6a8d;
        position: relative; }
        aside#sidebar #menu ul ul li:hover {
          background: #52749a; }
          aside#sidebar #menu ul ul li:hover span {
            color: #fdfdfe; }
        aside#sidebar #menu ul ul li .select {
          font-weight: bold;
          color: #ecf0f5 !important;
          position: relative; }
          aside#sidebar #menu ul ul li .select:after {
            position: absolute;
            right: 0;
            top: 6px;
            height: 0;
            width: 0;
            border-right: 10px solid white;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            content: ""; }
      aside#sidebar #menu ul ul a {
        padding: 10px 10px 10px 40px;
        display: block;
        color: #88a3c0 !important;
        font-size: 12px;
        font-weight: normal; }
        aside#sidebar #menu ul ul a span {
          -webkit-transition: padding 0.5s ease;
          -moz-transition: padding 0.5s ease;
          -ms-transition: padding 0.5s ease;
          -o-transition: padding 0.5s ease;
          transition: padding 0.5s ease;
          padding-left: 5px; }
          aside#sidebar #menu ul ul a span i {
            margin-right: 5px; }
  aside#sidebar .freebies {
    margin: 20px 15px; }

@media (max-width: 767px) {
  aside#sidebar {
    left: -250px;
    z-index: 1000;
    height: 100%;
    background: #3d5672; } }
.top-bar {
  padding: 12px 20px;
  vertical-align: middle;
  height: 65px;
  line-height: 40px;
  background: white;
  border-bottom: 1px solid #e2e8f0; }
  .top-bar .page-title {
    font-size: 24px;
    font-weight: 100;
    display: inline-block;
    float: left;
    color: #2b3d51; }
  .top-bar ul.stats {
    margin: 0;
    padding: 0;
    float: right;
    line-height: 26px; }
    .top-bar ul.stats li {
      border-left: 1px solid #e2e8f0;
      padding: 0 24px;
      display: inline-block;
      text-align: right; }
      .top-bar ul.stats li:first-child {
        border-left: none;
        padding-left: 0; }
      .top-bar ul.stats li:last-child {
        padding-right: 0; }
      .top-bar ul.stats li h4 {
        color: #404040;
        margin: 0 0 2px 0;
        padding: 0;
        font-size: 21px;
        font-weight: 500; }
        .top-bar ul.stats li h4 i {
          font-size: 21px;
          margin-left: 3px; }
          .top-bar ul.stats li h4 i.up {
            color: #76bbad; }
          .top-bar ul.stats li h4 i.down {
            color: #d66061; }
      .top-bar ul.stats li h5 {
        padding: 0;
        margin: 0;
        color: #666666;
        font-size: 12px; }
      .top-bar ul.stats li .stats-details {
        float: left;
        margin-left: 5px; }
      .top-bar ul.stats li .stats-block {
        float: left;
        position: relative;
        width: 150px;
        height: 30px;
        text-align: center;
        top: 11px;
        margin-right: 12px; }

@media (max-width: 767px) {
  .top-bar {
    height: 51px;
    line-height: 30px;
    padding: 10px 20px;
    text-align: center; }
    .top-bar .page-title {
      font-size: 16px;
      font-weight: 600; } }
footer {
  background: #e2e8f0;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  text-align: left;
  font-size: 11px;
  color: #6789ae; }

.panel {
  margin-bottom: 25px;
  background-color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.panel-body {
  padding: 15px;
  position: relative;
  border: 1px solid #d9d9d9; }

.panel-heading {
  position: relative;
  padding: 12px 15px;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  .panel-heading .custom-icon {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #333333;
    font-size: 14px; }
  .panel-heading .custom-text {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #333333;
    font-size: 12px; }

h4.panel-title {
  font-size: 15px;
  font-weight: 600;
  color: #4d4d4d; }
  h4.panel-title .fa {
    margin-right: 4px;
    font-size: 14px;
    width: 20px; }

h3.panel-title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333; }

.panel-footer {
  padding: 0;
  border: 0;
  margin-top: -1px;
  background: transparent;
  border: 1px solid #737373;
  border-top: 0; }

.panel-default {
  border: 1px solid #e8e8e8; }
  .panel-default > .panel-heading {
    color: #595959;
    border-color: #e8e8e8;
    background: #fcfcfc; }
  .panel-default > .panel-footer {
    border-color: #e8e8e8;
    background: #f7f7f7; }
    .panel-default > .panel-footer a {
      color: #666666; }
      .panel-default > .panel-footer a:hover {
        color: #4d4d4d; }

.panel-primary {
  border: 1px solid #e0e0e0; }
  .panel-primary > .panel-heading {
    color: #333333;
    background: #f2f2f2;
    border: 0;
    border-color: #e0e0e0; }
  .panel-primary > .panel-body {
    border: 0; }
  .panel-primary > .panel-footer {
    border-color: #e8e8e8;
    background: #f7f7f7; }
    .panel-primary > .panel-footer a {
      color: #4d4d4d; }
      .panel-primary > .panel-footer a:hover {
        color: #666666; }

.panel-success {
  border: 1px solid #baddd6; }
  .panel-success > .panel-heading {
    color: #76bbad;
    background: #edf6f4;
    border: 0;
    border-color: #baddd6; }
  .panel-success > .panel-body {
    border: 0; }
  .panel-success > .panel-footer {
    color: #76bbad;
    background: #feffff;
    border-color: #dceeea; }
    .panel-success > .panel-footer a {
      color: #98ccc1; }
      .panel-success > .panel-footer a:hover {
        color: #baddd6; }

.panel-warning {
  border: 1px solid #ffe1ba; }
  .panel-warning > .panel-heading {
    color: #ffaa3a;
    background-color: #ffecd3;
    border-color: #ffecd3;
    border: 0; }
  .panel-warning > .panel-body {
    border: 0; }
  .panel-warning > .panel-footer {
    color: #ffaa3a;
    background-color: white;
    border-color: #ffecd3; }
    .panel-warning > .panel-footer a {
      color: #ffc06d; }
      .panel-warning > .panel-footer a:hover {
        color: #ffd6a0; }

.panel-danger {
  border: 1px solid #f0c5c6; }
  .panel-danger > .panel-heading {
    color: #d66061;
    background: #f5dada;
    border-color: #f0c5c6;
    border: 0; }
  .panel-danger > .panel-body {
    border: 0; }
  .panel-danger > .panel-footer {
    color: #d66061;
    background: #f3d2d2;
    border-color: #f0c5c6; }
    .panel-danger > .panel-footer a {
      color: #e08989; }
      .panel-danger > .panel-footer a:hover {
        color: #ebb1b2; }

.panel-info {
  border: 1px solid #b7cee3; }
  .panel-info > .panel-heading {
    color: #335c81;
    border: 0;
    background-color: #eef3f8;
    border-color: #eef3f8; }
  .panel-info > .panel-body {
    border: 0; }
  .panel-info > .panel-footer {
    color: #335c81;
    background-color: white;
    border-color: #eef3f8; }
    .panel-info > .panel-footer a {
      color: #80a9cd; }
      .panel-info > .panel-footer a:hover {
        color: #a4c2dc; }

.panel-grey {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #4d4d4d;
  padding: 15px;
  color: #b3b3b3; }
  .panel-grey h4.heading {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #666666;
    margin-bottom: 15px; }

.panel-white {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #d9d9d9;
  padding: 15px;
  color: #666666; }
  .panel-white h4.heading {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 15px; }

.panel-orange {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #ffaa3a;
  padding: 15px;
  color: white; }
  .panel-orange h4.heading {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ffc06d;
    margin-bottom: 15px; }

.panel-blue {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #5b90bf;
  padding: 15px;
  color: white; }
  .panel-blue h4.heading {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #6d9cc6;
    margin-bottom: 15px; }

.panel-green {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #76bbad;
  padding: 15px;
  color: white; }
  .panel-green h4.heading {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #98ccc1;
    margin-bottom: 15px; }

.panel-red {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #d66061;
  padding: 15px;
  color: white; }
  .panel-red h4.heading {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #db7475;
    margin-bottom: 15px; }

.panel-linkedin {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #1a85bd;
  padding: 15px;
  color: white; }
  .panel-linkedin h4.heading {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #1d95d3;
    margin-bottom: 15px; }

.panel-twitter {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #00acee;
  padding: 15px;
  color: white; }
  .panel-twitter h4.heading {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #22c2ff;
    margin-bottom: 15px; }

.panel-fb {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #4c66a4;
  padding: 15px;
  color: white; }
  .panel-fb h4.heading {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #5872b2;
    margin-bottom: 15px; }

.panel-group .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
.panel-group .panel-heading {
  border-bottom: 1px solid #d9d9d9; }
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0; }

.blog {
  margin-bottom: 25px;
  background: #f9fbfc;
  position: relative; }
  .blog:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 40;
    border-width: 0 12px 12px 0;
    border-style: solid;
    border-color: #a9bcd2 white #a9bcd2 #a9bcd2;
    background: transparent;
    display: block;
    width: 0; }

.blog-header {
  position: relative;
  padding: 12px 15px;
  border: 1px solid #dfe6ee;
  border-bottom: 0; }
  .blog-header p.date-time {
    margin: 0;
    color: #666666;
    font-size: 11px; }
    .blog-header p.date-time span {
      display: inline;
      margin-right: 10px; }
      .blog-header p.date-time span i {
        margin-right: 2px;
        font-size: 12px; }
  .blog-header img.blog-post-user {
    max-width: 48px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right; }

h4.blog-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #5b90bf;
  margin-top: 0; }

h5.blog-title {
  font-size: 14px;
  font-weight: 600;
  color: #4e6f94;
  margin: 0; }

.blog-body {
  padding: 15px;
  position: relative;
  overflow: hidden;
  border: 1px solid #dfe6ee; }
  .blog-body .blog-img {
    border: 2px solid #a9bcd2;
    min-height: 160px;
    margin-bottom: 10px; }
  .blog-body .blog-content {
    font-size: 15px;
    line-height: 20px;
    color: #595959; }

@media (max-width: 767px) {
  .blog-body .blog-img {
    min-height: 60px; }
  .blog-body .blog-content {
    font-size: 12px;
    line-height: 16px; } }
.blog-footer {
  padding: 15px;
  border: 1px solid #e2e8f0;
  border-top: 0;
  border-bottom: 2px solid #e2e8f0;
  position: relative; }
  .blog-footer:before {
    content: "";
    position: absolute;
    top: -10px;
    right: 15px;
    z-index: 40;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: #e2e8f0 white #e2e8f0;
    background: transparent;
    display: block;
    width: 0; }

ul.social-icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right; }
  ul.social-icons li {
    display: inline-block;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    ul.social-icons li i {
      color: gray;
      font-size: 14px;
      height: 32px;
      width: 32px;
      text-align: center;
      line-height: 32px; }
    ul.social-icons li:hover {
      border: 1px solid #76bbad;
      cursor: pointer; }
      ul.social-icons li:hover i {
        color: #76bbad; }

@media (max-width: 767px) {
  ul.social-icons li:nth-child(6) {
    display: none; }
  ul.social-icons li:nth-child(7) {
    display: none; }
  ul.social-icons li:nth-child(8) {
    display: none; } }
ul.blog-gallery {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.blog-gallery li {
    width: 20%;
    float: left;
    height: auto; }
    ul.blog-gallery li img {
      width: 100%; }

.blog-grey {
  background-color: gray; }
  .blog-grey:before {
    border-color: #4d4d4d #fafafa #4d4d4d #4d4d4d; }
  .blog-grey .blog-header {
    border: 1px solid gray; }
    .blog-grey .blog-header h5.blog-title {
      color: white; }
  .blog-grey .blog-body {
    border: 1px solid gray;
    background: white; }

.blog-light-grey {
  background-color: #d9d9d9; }
  .blog-light-grey:before {
    border-color: #999999 #fafafa #999999 #999999; }
  .blog-light-grey .blog-header {
    border: 1px solid #d9d9d9; }
    .blog-light-grey .blog-header h5.blog-title {
      color: #4d4d4d; }
  .blog-light-grey .blog-body {
    border: 1px solid #d9d9d9;
    background: white; }

.blog-warning {
  background-color: #ffaa3a; }
  .blog-warning:before {
    border-color: #ff9407 #fafafa #ff9407 #ff9407; }
  .blog-warning .blog-header {
    border: 1px solid #ffaa3a; }
    .blog-warning .blog-header h5.blog-title {
      color: white; }
  .blog-warning .blog-body {
    border: 1px solid #ffaa3a;
    background: white; }

.blog-success {
  background-color: #76bbad; }
  .blog-success:before {
    border-color: #54aa98 #fafafa #54aa98 #54aa98; }
  .blog-success .blog-header {
    border: 1px solid #76bbad; }
    .blog-success .blog-header h5.blog-title {
      color: white; }
  .blog-success .blog-body {
    border: 1px solid #76bbad;
    background: white; }

.blog-info {
  background-color: #5b90bf; }
  .blog-info:before {
    border-color: #3a6994 #fafafa #3a6994 #3a6994; }
  .blog-info .blog-header {
    border: 1px solid #5b90bf; }
    .blog-info .blog-header h5.blog-title {
      color: white; }
  .blog-info .blog-body {
    border: 1px solid #5b90bf;
    background: white; }

.blog-danger {
  background-color: #d66061; }
  .blog-danger:before {
    border-color: #ba3031 #fafafa #ba3031 #ba3031; }
  .blog-danger .blog-header {
    border: 1px solid #d66061; }
    .blog-danger .blog-header h5.blog-title {
      color: white; }
  .blog-danger .blog-body {
    border: 1px solid #d66061;
    background: white; }

ul.recent-posts, ul.recent-tweets {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.recent-posts li.post, ul.recent-tweets li.post {
    padding: 8px 0;
    border-bottom: 1px solid #e6e6e6; }
    ul.recent-posts li.post img.blog-avatar, ul.recent-tweets li.post img.blog-avatar {
      height: 36px;
      width: 36px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      float: left; }
    ul.recent-posts li.post .details, ul.recent-tweets li.post .details {
      margin-left: 48px; }
      ul.recent-posts li.post .details h5.blog-title, ul.recent-tweets li.post .details h5.blog-title {
        font-weight: 600;
        font-size: 13px;
        color: #5b90bf;
        margin-bottom: 6px; }
      ul.recent-posts li.post .details p, ul.recent-tweets li.post .details p {
        color: #666666;
        margin: 0;
        font-size: 11px; }
        ul.recent-posts li.post .details p i, ul.recent-tweets li.post .details p i {
          color: #eacb20;
          margin-right: 2px;
          font-size: 12px;
          color: #666666; }
    ul.recent-posts li.post:first-child, ul.recent-tweets li.post:first-child {
      padding-top: 0; }
    ul.recent-posts li.post:last-child, ul.recent-tweets li.post:last-child {
      border-bottom: 0;
      padding-bottom: 0; }

ul.recent-tweets {
  padding: 15px; }

.nav-tabs {
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }
  .nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .nav-tabs > li > a:hover {
      background-color: #e6e6e6;
      border-color: transparent; }

.nav-tabs > li {
  margin-bottom: -1px; }

.nav-tabs > li > a:hover {
  background: #e6e6e6; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: transparent;
  border-right: 1px solid #d9d9d9; }

.nav-tabs > li.active {
  position: relative;
  border-bottom: 2px solid #d66061; }
  .nav-tabs > li.active:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-bottom: 6px solid #d66061;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: ""; }
  .nav-tabs > li.active:before {
    position: absolute;
    left: 50%;
    bottom: -2px;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-bottom: 6px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: "";
    z-index: 10; }

.nav > li > a {
  border-right: 1px solid #d9d9d9;
  margin-right: 0; }

.tab-content {
  padding: 10px 20px;
  margin-bottom: 25px;
  border: 1px solid #d9d9d9;
  border-top: 0; }
  .tab-content p {
    text-align: justify; }

.alert-dismissable .close {
  right: 0; }

.alert.alert-transparent {
  background-color: transparent !important;
  color: black; }

.alert {
  padding: 10px;
  margin-bottom: 11px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.alert-success {
  color: white;
  background-color: #98ccc1;
  border-color: #54aa98; }

.alert-info {
  color: white;
  background-color: #80a9cd;
  border-color: #4177a6; }

.alert-warning {
  color: white;
  background-color: #ffc06d;
  border-color: #ff9407; }

.alert-danger {
  color: white;
  background-color: #e08989;
  border-color: #cc3739; }

.alert-borderd {
  background: transparent !important;
  color: #4d4d4d; }

/* Alert White */
.alert-white {
  background: white;
  border-color: #e6e6e6;
  color: #4d4d4d;
  padding-left: 64px;
  position: relative;
  padding: 13px 15px; }
  .alert-white .close {
    font-size: 14px; }
  .alert-white strong {
    margin-left: 50px; }

.alert-white .icon {
  text-align: center;
  width: 48px;
  height: 43px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  line-height: 43px; }

.alert-white .icon:after {
  content: '';
  display: block;
  border-left: 0;
  border-bottom: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: -5px;
  margin-top: -5px;
  background: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.alert-white.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.alert-white.rounded .icon {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px; }

.alert-white .icon i {
  color: white; }

.alert-white.alert-danger .icon,
.alert-white.alert-danger .icon:after {
  border-color: #d14c4d;
  background: #d66061; }

.alert-white.alert-info .icon,
.alert-white.alert-info .icon:after {
  border-color: #4984b8;
  background: #5b90bf; }

.alert-white.alert-warning .icon,
.alert-white.alert-warning .icon:after {
  border-color: #ff9f21;
  background: #ffaa3a; }

.alert-white.alert-success .icon,
.alert-white.alert-success .icon:after {
  border-color: #65b3a3;
  background: #76bbad; }

.alert-white.alert-primary .icon,
.alert-white.alert-primary .icon:after {
  border-color: #262626;
  background: #333333; }

.tooltip-inner {
  color: white;
  background-color: #d66061;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.tooltip.top .tooltip-arrow {
  border-top-color: #d66061; }

.tooltip.top-left .tooltip-arrow {
  border-top-color: #d66061; }

.tooltip.top-right .tooltip-arrow {
  border-top-color: #d66061; }

.tooltip.right .tooltip-arrow {
  border-right-color: #d66061; }

.tooltip.left .tooltip-arrow {
  border-left-color: #d66061; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #d66061; }

.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #d66061; }

.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #d66061; }

.popover {
  background: #4d4d4d;
  border: 1px solid #4d4d4d;
  color: white; }

.popover.left > .arrow:after {
  border-left-color: #4d4d4d; }

.popover.right > .arrow:after {
  border-right-color: #4d4d4d; }

.popover.top > .arrow:after {
  border-top-color: #4d4d4d; }

.popover.bottom > .arrow:after {
  border-bottom-color: #4d4d4d; }

.pagination > li > a,
.pagination > li > span {
  color: #333333;
  border: 1px solid #e6e6e6; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #1a1a1a;
  background-color: #f2f2f2;
  border-color: #e6e6e6; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: white;
  background-color: #d66061;
  border-color: #d66061; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: black;
  background-color: white;
  border-color: #e6e6e6; }

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.callout {
  margin: 0 0 5px 0;
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-left: 3px solid #e8e8e8; }

.callout h4 {
  margin-top: 0;
  margin-bottom: 5px; }

.callout p:last-child {
  margin-bottom: 0; }

.callout-danger {
  border-color: #d66061; }

.callout-danger h4 {
  color: #d66061; }

.callout-warning {
  border-color: #ffaa3a; }

.callout-warning h4 {
  color: #ffaa3a; }

.callout-info {
  border-color: #5b90bf; }

.callout-info h4 {
  color: #5b90bf; }

.callout-success {
  border-color: #76bbad; }

.callout-success h4 {
  color: #76bbad; }

.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
  background-color: #f4faf8; }
  .table > thead > tr > td.success:hover, .table > tbody > tr > td.success:hover, .table > tfoot > tr > td.success:hover, .table > thead > tr > th.success:hover, .table > tbody > tr > th.success:hover, .table > tfoot > tr > th.success:hover, .table > thead > tr.success > td:hover, .table > tbody > tr.success > td:hover, .table > tfoot > tr.success > td:hover, .table > thead > tr.success > th:hover, .table > tbody > tr.success > th:hover, .table > tfoot > tr.success > th:hover {
    background-color: #e3f1ee; }

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
  background-color: #e3ecf4; }
  .table > thead > tr > td.info:hover, .table > tbody > tr > td.info:hover, .table > tfoot > tr > td.info:hover, .table > thead > tr > th.info:hover, .table > tbody > tr > th.info:hover, .table > tfoot > tr > th.info:hover, .table > thead > tr.info > td:hover, .table > tbody > tr.info > td:hover, .table > tfoot > tr.info > td:hover, .table > thead > tr.info > th:hover, .table > tbody > tr.info > th:hover, .table > tfoot > tr.info > th:hover {
    background-color: #d4e2ee; }

.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
  background-color: #fff7ed; }
  .table > thead > tr > td.warning:hover, .table > tbody > tr > td.warning:hover, .table > tfoot > tr > td.warning:hover, .table > thead > tr > th.warning:hover, .table > tbody > tr > th.warning:hover, .table > tfoot > tr > th.warning:hover, .table > thead > tr.warning > td:hover, .table > tbody > tr.warning > td:hover, .table > tfoot > tr.warning > td:hover, .table > thead > tr.warning > th:hover, .table > tbody > tr.warning > th:hover, .table > tfoot > tr.warning > th:hover {
    background-color: #fff0dd; }

.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
  background-color: #fbeeee; }
  .table > thead > tr > td.danger:hover, .table > tbody > tr > td.danger:hover, .table > tfoot > tr > td.danger:hover, .table > thead > tr > th.danger:hover, .table > tbody > tr > th.danger:hover, .table > tfoot > tr > th.danger:hover, .table > thead > tr.danger > td:hover, .table > tbody > tr.danger > td:hover, .table > tfoot > tr.danger > td:hover, .table > thead > tr.danger > th:hover, .table > tbody > tr.danger > th:hover, .table > tfoot > tr.danger > th:hover {
    background-color: #f9e6e6; }

.table .type-info {
  color: #404040;
  vertical-align: middle;
  text-align: right; }

.legendColorBox {
  margin-left: 5px; }

.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #d9d9d9; }
  .form-control:focus {
    border: 1px solid #a4c2dc;
    box-shadow: none;
    -webkit-box-shadow: none; }

.form-control-feedback {
  top: 33px;
  height: 15px; }

.form-control-feedback.glyphicon {
  top: 22px;
  right: 10px;
  height: 15px; }

.form-horizontal .has-feedback .form-control-feedback {
  top: 11px; }

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
  color: #76bbad; }

.has-success .form-control {
  border-color: #baddd6;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .has-success .form-control:focus {
    border-color: #a9d4cc;
    box-shadow: none;
    -webkit-box-shadow: none; }
.has-success .form-control-feedback {
  color: #76bbad; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #d66061; }

.has-error .form-control {
  border-color: #ebb1b2;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .has-error .form-control:focus {
    border-color: #e69d9d;
    box-shadow: none;
    -webkit-box-shadow: none; }
.has-error .form-control-feedback {
  color: #d66061; }

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
  color: #ffaa3a; }

.has-warning .form-control {
  border-color: #ffd6a0;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .has-warning .form-control:focus {
    border-color: #ffcb87;
    box-shadow: none;
    -webkit-box-shadow: none; }
.has-warning .form-control-feedback {
  color: #ffaa3a; }

legend {
  padding: 0 0 6px 0;
  font-size: 16px;
  line-height: inherit;
  color: #4d4d4d;
  border: 0;
  border-bottom: 1px solid #d9d9d9; }

.list-group-item {
  border: 1px solid #dbe3ec; }
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

a.list-group-item:hover, a.list-group-item:focus {
  background: #eff3f7; }

.list-group-item-info {
  background-color: #b7cee3; }

.list-group-item-warning {
  background-color: #fff7ed; }

.list-group-item-success {
  background-color: #dceeea; }

.list-group-item-facebook {
  background-color: #afbcda; }

.list-group-item-danger {
  background-color: #f7e2e2; }

.breadcrumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 10px; }
  .breadcrumb.primary-bg li, .breadcrumb.primary-bg li a {
    color: white; }
    .breadcrumb.primary-bg li.active, .breadcrumb.primary-bg li a.active {
      font-weight: bold;
      color: #737373; }
  .breadcrumb.danger-bg li, .breadcrumb.danger-bg li a {
    color: white; }
    .breadcrumb.danger-bg li.active, .breadcrumb.danger-bg li a.active {
      font-weight: bold;
      color: #f0c5c6; }
  .breadcrumb.info-bg li, .breadcrumb.info-bg li a {
    color: white; }
    .breadcrumb.info-bg li.active, .breadcrumb.info-bg li a.active {
      font-weight: bold;
      color: #b7cee3; }
  .breadcrumb.success-bg li, .breadcrumb.success-bg li a {
    color: white; }
    .breadcrumb.success-bg li.active, .breadcrumb.success-bg li a.active {
      font-weight: bold;
      color: #cbe5e0; }

.jumbotron {
  background: #9e9e9e; }

ul.articles {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  ul.articles li {
    padding: 6px 0;
    border-bottom: 1px dotted #d9d9d9;
    margin-bottom: 1px; }
    ul.articles li:first-child {
      padding-top: 0; }
    ul.articles li:last-child {
      padding-bottom: 0;
      border-bottom: 0; }
  ul.articles a {
    position: relative;
    color: #737373;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    padding-left: 15px; }
    ul.articles a:hover {
      text-decoration: underline; }
    ul.articles a .label-bullet {
      position: absolute;
      left: 1px;
      top: 6px;
      width: 0;
      height: 0;
      border: 3px solid #db7475; }
    ul.articles a .date {
      font-size: 10px;
      font-weight: normal;
      display: block;
      font-style: italic; }

ul.progress-stats {
  padding: 10px;
  margin: 0;
  text-align: left; }
  ul.progress-stats li {
    padding: 10px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #ebebeb !important;
    background-color: white;
    margin-bottom: 3px; }
    ul.progress-stats li:last-child {
      margin-bottom: 0px; }
    ul.progress-stats li:hover {
      background: white;
      cursor: pointer; }
    ul.progress-stats li .details {
      margin-bottom: 5px;
      line-height: 18px;
      font-size: 11px; }
      ul.progress-stats li .details strong {
        font-weight: 600;
        margin-right: 3px;
        font-size: 13px; }
      ul.progress-stats li .details span {
        font-weight: 400; }
    ul.progress-stats li.plain {
      padding: 5px 0px;
      border: 0 !important;
      font-weight: 600;
      display: block;
      font-size: 14px;
      background: transparent;
      display: block; }
      ul.progress-stats li.plain .btn {
        float: right; }
        ul.progress-stats li.plain .btn i {
          color: white !important;
          font-size: 16px; }

.todo .todo-list-item {
  border-bottom: 1px solid #e5ebf1;
  padding: 10px 0px 10px 10px;
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative; }
  .todo .todo-list-item.success:before {
    background: #76bbad; }
  .todo .todo-list-item.info:before {
    background: #5b90bf; }
  .todo .todo-list-item.danger:before {
    background: #d66061; }
  .todo .todo-list-item:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    margin: 0;
    height: 16px;
    width: 2px; }
.todo .todo-list-cb {
  display: none; }
.todo .todo-list-mark {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border: 2px solid #d5dee9;
  vertical-align: middle; }
  .todo .todo-list-mark:before {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3px 0 0 -4px;
    height: 5px;
    width: 8px;
    border: solid #577ca4;
    border-width: 0 0 3px 3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.todo label {
  margin-bottom: 0;
  font-size: 12px; }
.todo .todo-list-cb:checked ~ .todo-list-mark {
  border-color: #577ca4; }
  .todo .todo-list-cb:checked ~ .todo-list-mark:before {
    display: block; }
.todo .todo-list-desc {
  font-weight: 500;
  color: #333333; }
.todo .todo-list-cb:checked ~ .todo-list-desc {
  color: #577ca4;
  text-decoration: line-through; }

ul.online-users {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.online-users li a {
    position: relative;
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #f2f2f2; }
    ul.online-users li a img {
      margin-right: 3px;
      width: 16px;
      height: 16px; }
    ul.online-users li a .user-name {
      display: inline-block; }
    ul.online-users li a .online, ul.online-users li a .busy, ul.online-users li a .away {
      position: absolute;
      top: 10px;
      right: 0;
      width: 8px;
      height: 8px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      background: #76bbad; }
      ul.online-users li a .online.busy, ul.online-users li a .busy.busy, ul.online-users li a .away.busy {
        background: #d66061; }
      ul.online-users li a .online.away, ul.online-users li a .busy.away, ul.online-users li a .away.away {
        background: #ffaa3a; }

ul.messages {
  padding: 10px;
  margin: 0;
  text-align: left;
  list-style-type: none; }
  ul.messages li {
    padding: 10px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #ebebeb !important;
    background-color: white;
    margin-bottom: 3px; }
    ul.messages li:last-child {
      margin-bottom: 0px; }
    ul.messages li:hover {
      background: white;
      cursor: pointer; }
    ul.messages li .user-pic {
      float: left; }
      ul.messages li .user-pic img {
        width: 32px;
        height: 32px; }
    ul.messages li .details {
      line-height: 18px;
      font-size: 11px;
      display: block;
      margin-left: 42px; }
      ul.messages li .details strong {
        font-weight: 600;
        margin-right: 3px;
        font-size: 13px;
        display: block;
        line-height: 11px; }
        ul.messages li .details strong span {
          float: right;
          font-size: 11px;
          display: inline-block; }
      ul.messages li .details span {
        font-weight: 400;
        display: block; }
    ul.messages li.plain {
      padding: 5px 0px;
      border: 0 !important;
      font-weight: 600;
      display: block;
      font-size: 14px;
      background: transparent;
      display: block; }
      ul.messages li.plain .btn {
        float: right;
        color: white; }
        ul.messages li.plain .btn i {
          color: white !important;
          font-size: 16px; }

ul.quick-actions {
  padding: 10px;
  margin: 0;
  text-align: center; }
  ul.quick-actions li {
    padding: 10px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #e6e6e6 !important;
    background-color: #fafafa !important;
    margin: 3px;
    width: 30%;
    text-align: center !important;
    display: inline-block !important; }
    ul.quick-actions li:hover {
      background: white;
      cursor: pointer; }
    ul.quick-actions li a {
      padding: 0 !important;
      text-decoration: none; }
      ul.quick-actions li a:hover {
        background: transparent; }
      ul.quick-actions li a i {
        font-size: 14px !important;
        padding-bottom: 5px;
        margin: 0 !important; }
    ul.quick-actions li p {
      margin: 0;
      padding: 0;
      color: #4d4d4d;
      line-height: 14px;
      font-size: 12px;
      font-weight: 600; }
    ul.quick-actions li.plain {
      padding: 0 10px;
      border: 0 !important;
      width: 100%;
      font-weight: 600;
      display: block;
      font-size: 14px;
      color: #333333;
      background-color: transparent !important; }
    ul.quick-actions li:first-child {
      padding: 10px 5px; }
    ul.quick-actions li:hover {
      background-color: #8c8c8c; }

.current-stats {
  padding: 20px 10px 0 10px;
  text-align: center; }
  .current-stats .spacer-xs {
    position: relative; }
    .current-stats .spacer-xs i {
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 12px;
      width: 20px;
      height: 20px;
      line-height: 18px;
      text-align: center;
      border: 2px solid rgba(255, 255, 255, 0.3);
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }

@media (max-width: 767px) {
  .current-stats .spacer-xs {
    margin-bottom: 5px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .current-stats .spacer-xs {
    margin-bottom: 5px; } }
.current-profile {
  margin-bottom: 25px; }
  .current-profile .user-bg {
    background: url(../img/profile-bg.jpg) no-repeat;
    background-position: bottom center;
    height: 280px;
    position: relative; }
  .current-profile .user-pic {
    background: url(../img/user1.png) no-repeat;
    background-position: center center;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    top: 20px;
    border: 3px solid rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px; }
  .current-profile .user-details {
    position: absolute;
    top: 150px;
    text-align: center;
    margin: auto;
    left: 10px;
    right: 10px; }
  .current-profile h4.user-name {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0; }
  .current-profile h5.description {
    color: white;
    margin: 10px 0 0 0;
    text-align: center;
    font-weight: 100;
    line-height: 21px; }
  .current-profile .social-list {
    margin: 0;
    position: absolute;
    bottom: 25px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2); }
    .current-profile .social-list h3 {
      color: white;
      padding: 0;
      margin: 7px 0 0 0; }
    .current-profile .social-list small {
      color: white; }

@media (max-width: 767px) {
  .current-profile .user-bg {
    height: 260px; }
  .current-profile .user-pic {
    height: 72px;
    width: 72px; }
  .current-profile .user-details {
    position: absolute;
    top: 100px; }
  .current-profile .social-list {
    position: absolute;
    bottom: 0; }
    .current-profile .social-list h3 {
      font-size: 16px; } }
ul.friends-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.friends-list li {
    width: 15%;
    margin: 0 2% 5px 0;
    float: left;
    position: relative; }
    ul.friends-list li img {
      width: 100%;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
    ul.friends-list li:hover {
      opacity: 0.8; }
    ul.friends-list li:nth-child(6n+6) {
      margin-right: 0; }
  ul.friends-list .status {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 10px;
    width: 10px;
    background: white;
    opacity: 0.9;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; }
  ul.friends-list .online, ul.friends-list .busy, ul.friends-list .away {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #76bbad; }
    ul.friends-list .online.busy, ul.friends-list .busy.busy, ul.friends-list .away.busy {
      background: #d66061; }
    ul.friends-list .online.away, ul.friends-list .busy.away, ul.friends-list .away.away {
      background: #ffaa3a; }

.fb-profile, .tw-profile {
  background: #4c66a4;
  position: relative; }
  .fb-profile .icon-bg .fb-icon-bg, .tw-profile .icon-bg .fb-icon-bg {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 0;
    width: 0;
    border-top: 40px solid #3c5081;
    border-left: 40px solid transparent; }
  .fb-profile .icon-bg i, .tw-profile .icon-bg i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 16px; }
  .fb-profile img.user-pic, .tw-profile img.user-pic {
    height: 48px;
    width: 48px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: 10px; }
  .fb-profile .user-details, .tw-profile .user-details {
    margin-left: 10px; }
  .fb-profile h4.user-name, .tw-profile h4.user-name {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 14px; }
  .fb-profile .small, .tw-profile .small {
    color: white;
    margin: 2px 0 0 0;
    font-weight: 100; }
  .fb-profile .social-list, .tw-profile .social-list {
    text-align: center;
    margin: 0; }
    .fb-profile .social-list h3, .tw-profile .social-list h3 {
      color: white;
      padding: 0;
      margin: 0;
      font-size: 17px; }
    .fb-profile .social-list small, .tw-profile .social-list small {
      color: white; }
  .fb-profile .fb-likes-wrapper, .tw-profile .fb-likes-wrapper {
    padding: 10px; }
    .fb-profile .fb-likes-wrapper p, .tw-profile .fb-likes-wrapper p {
      margin: 0;
      padding: 0;
      color: white; }
    .fb-profile .fb-likes-wrapper ul.likes-list, .tw-profile .fb-likes-wrapper ul.likes-list {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .fb-profile .fb-likes-wrapper ul.likes-list li, .tw-profile .fb-likes-wrapper ul.likes-list li {
        width: 36px;
        margin: 2px;
        float: left; }
        .fb-profile .fb-likes-wrapper ul.likes-list li img, .tw-profile .fb-likes-wrapper ul.likes-list li img {
          width: 36px;
          height: 36px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px; }
        .fb-profile .fb-likes-wrapper ul.likes-list li:hover, .tw-profile .fb-likes-wrapper ul.likes-list li:hover {
          opacity: 0.8; }

.tw-profile {
  background: #00acee;
  margin-bottom: 25px;
  position: relative; }
  .tw-profile .icon-bg .fb-icon-bg {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 0;
    width: 0;
    border-top: 40px solid #0087bb;
    border-left: 40px solid transparent; }
  .tw-profile .icon-bg i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 16px; }
  .tw-profile img.user-pic {
    height: 48px;
    width: 48px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: 10px; }
  .tw-profile .user-details {
    margin-left: 10px; }
  .tw-profile h4.user-name {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 14px; }
  .tw-profile .small {
    color: white;
    margin: 2px 0 0 0;
    font-weight: 100; }
  .tw-profile .social-list {
    text-align: center;
    margin: 0; }
    .tw-profile .social-list h3 {
      color: white;
      padding: 0;
      margin: 0;
      font-size: 17px; }
    .tw-profile .social-list small {
      color: white; }
  .tw-profile .fb-likes-wrapper {
    padding: 10px; }
    .tw-profile .fb-likes-wrapper p {
      margin: 0;
      padding: 0;
      color: white; }
    .tw-profile .fb-likes-wrapper ul.likes-list {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .tw-profile .fb-likes-wrapper ul.likes-list li {
        width: 36px;
        margin: 2px;
        float: left; }
        .tw-profile .fb-likes-wrapper ul.likes-list li img {
          width: 36px;
          height: 36px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px; }
        .tw-profile .fb-likes-wrapper ul.likes-list li:hover {
          opacity: 0.8; }

.plan {
  padding: 10px;
  text-align: center;
  background: white;
  border: 1px solid #dbe3ec;
  margin-bottom: 20px; }

.plan-title {
  margin-bottom: 12px;
  font-size: 24px;
  color: #333333; }

.plan-price {
  margin-bottom: 20px;
  line-height: 1;
  font-size: 28px;
  font-weight: bold;
  color: #d66061; }

.plan-unit {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  font-weight: normal;
  color: gray; }

ul.plan-details {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.plan-details li {
    cursor: pointer;
    width: 30%;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #a9bcd2;
    background-color: #e9eef3;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fbfc), to(#e9eef3));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #f9fbfc, #e9eef3);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #f9fbfc, #e9eef3);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #f9fbfc, #e9eef3);
    /* IE10 */
    background-image: -o-linear-gradient(top, #f9fbfc, #e9eef3);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #f9fbfc, #e9eef3);
    padding: 15px 0;
    margin: 0 5px 10px 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: gray; }
    ul.plan-details li h4.plan-name {
      font-size: 11px;
      margin: 0; }
    ul.plan-details li span {
      font-size: 15px;
      font-weight: 600; }
    ul.plan-details li:hover {
      background-color: #a4c2dc;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#a4c2dc));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, white, #a4c2dc);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, white, #a4c2dc);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, white, #a4c2dc);
      /* IE10 */
      background-image: -o-linear-gradient(top, white, #a4c2dc);
      /* Opera 11.10+ */
      background-image: linear-gradient(top, white, #a4c2dc);
      color: #5b90bf;
      border: 1px solid #a4c2dc; }
    ul.plan-details li:last-child {
      margin-right: 0; }

.plan-recommended {
  margin: -11px auto -16px auto;
  width: 70%;
  font-weight: 600;
  color: white;
  background: #d66061;
  padding: 5px; }

@media (min-width: 768px) and (max-width: 991px) {
  .plan {
    margin-bottom: 10px; } }
.chats {
  margin: 0;
  padding: 0;
  margin-top: -15px;
  list-style-type: none; }
  .chats li {
    padding: 5px 0;
    margin: 13px auto; }
    .chats li img.avatar {
      height: 48px;
      width: 48px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px; }
    .chats li.in img.avatar {
      margin-right: 10px;
      float: left; }
    .chats li .name {
      color: #666666;
      font-size: 13px;
      font-weight: bold; }
    .chats li .date-time {
      color: #333333;
      font-size: 11px;
      font-weight: 400; }
      .chats li .date-time .fa {
        font-size: 14px;
        margin-left: 4px;
        color: #4d4d4d; }
    .chats li .progress-stats {
      margin-top: 10px; }
      .chats li .progress-stats .progress {
        height: 6px;
        margin: 5px 0 0 25px; }
    .chats li.out img.avatar {
      float: right;
      margin-left: 10px; }
    .chats li .message {
      display: block;
      padding: 10px;
      position: relative;
      color: black; }
    .chats li.in .message {
      text-align: left;
      margin-left: 60px;
      background: #f7f7f7; }
      .chats li.in .message .arrow {
        display: block;
        position: absolute;
        top: 0;
        left: -12px;
        width: 0;
        height: 0;
        border-bottom: 12px solid transparent;
        border-right: 12px solid #f7f7f7; }
    .chats li.out .message {
      margin-right: 60px;
      background: #e3ecf4;
      text-align: right; }
      .chats li.out .message .arrow {
        display: block;
        position: absolute;
        top: 0px;
        right: -12px;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #e3ecf4; }
    .chats li .message .body {
      display: block;
      padding-top: 10px; }
    .chats li:last-child {
      margin-bottom: 0;
      padding-bottom: 0; }

.rating-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .rating-wrapper li {
    display: block;
    border-bottom: 1px solid #ededed;
    padding: 5px 0; }
    .rating-wrapper li .user img {
      width: 36px;
      height: 36px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
    .rating-wrapper li .info {
      margin-left: 50px;
      color: #333333; }
      .rating-wrapper li .info .rating {
        margin-bottom: 3px; }
        .rating-wrapper li .info .rating .stars {
          float: left; }
        .rating-wrapper li .info .rating small {
          color: gray;
          font-size: 11px;
          padding-left: 10px;
          line-height: 20px;
          margin-left: 5px;
          border-left: 1px solid #e6e6e6; }
      .rating-wrapper li .info p.comment {
        margin: 2px 0 0 0;
        padding: 0;
        color: #4d4d4d;
        font-size: 11px;
        line-height: 14px; }
    .rating-wrapper li:last-child {
      border-bottom: 0;
      padding-bottom: 0; }

.squared-check {
  position: relative;
  margin: 4px auto;
  float: left; }
  .squared-check label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 2px;
    top: 2px;
    background: white;
    border: 2px solid gray;
    display: inline-block; }

.cb-label {
  display: inline-block;
  margin: 3px 30px 0px 15px; }

.squared-check label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid gray;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.squared-check label:hover::after {
  opacity: 0.3; }

.squared-check input[type=checkbox] {
  visibility: hidden; }

.squared-check input[type=checkbox]:checked + label:after {
  opacity: 1; }

.datatable-index .dataTables_filter {
  display: none; }

#dt_example {
  /* Sorting */ }
  #dt_example .dataTables_length {
    float: left; }
    #dt_example .dataTables_length select {
      width: 80px;
      height: 30px;
      margin-bottom: 0; }
  #dt_example .dataTable .progress {
    height: 6px;
    margin: 5px 0 0 0; }
  #dt_example .dataTable th {
    padding-left: 12px; }
  #dt_example .dataTables_filter {
    float: right; }
    #dt_example .dataTables_filter input {
      width: 160px;
      height: 32px;
      margin-left: 4px;
      margin-bottom: 0;
      outline: none;
      border: 1px solid #e6e6e6; }
  #dt_example .dataTables_info {
    float: left;
    margin-bottom: 5px; }
  #dt_example .dataTables_paginate {
    margin: 5px 0;
    float: right; }
    #dt_example .dataTables_paginate .previous, #dt_example .dataTables_paginate .next {
      display: none; }
    #dt_example .dataTables_paginate .first {
      -webkit-border-radius: 30px 0 0 30px;
      -moz-border-radius: 30px 0 0 30px;
      border-radius: 30px 0 0 30px; }
    #dt_example .dataTables_paginate .last {
      -webkit-border-radius: 0 30px 30px 0;
      -moz-border-radius: 0 30px 30px 0;
      border-radius: 0 30px 30px 0; }
    #dt_example .dataTables_paginate .paginate_button, #dt_example .dataTables_paginate .paginate_active {
      background: #e6e6e6;
      margin-left: 1px;
      padding: 5px 12px;
      border: none;
      outline: none; }
      #dt_example .dataTables_paginate .paginate_button:hover, #dt_example .dataTables_paginate .paginate_active:hover {
        background: #d9d9d9;
        cursor: pointer;
        color: black; }
    #dt_example .dataTables_paginate .paginate_active {
      background: #ffaa3a;
      color: white; }
      #dt_example .dataTables_paginate .paginate_active:hover {
        background: #ffaa3a;
        color: white; }
  #dt_example .dataTable .sorting {
    cursor: pointer;
    background: url(../img/sorting.png) no-repeat center left; }
  #dt_example .dataTable .sorting_asc {
    cursor: pointer;
    background: url(../img/sorting_asc.png) no-repeat center left; }
  #dt_example .dataTable .sorting_desc {
    cursor: pointer;
    background: url(../img/sorting_desc.png) no-repeat center left; }

ul.show-stats {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0; }
  ul.show-stats li {
    display: inline-block;
    color: gray;
    padding: 2px 6px;
    margin: 3px; }
    ul.show-stats li .fa {
      font-size: 14px;
      margin-right: 1px;
      font-weight: bold; }
    ul.show-stats li span {
      margin-left: 3px; }

#memory {
  margin: auto;
  width: 100%; }

.chart-height-lg-x {
  position: relative;
  height: 260px; }

.chart-height-lg {
  position: relative;
  height: 220px; }

.chart-height {
  position: relative;
  height: 176px; }

.chart-height-sm {
  position: relative;
  height: 156px; }

.chart-height-xs {
  position: relative;
  height: 56px; }

.chart-height-xss {
  position: relative;
  height: 48px; }

.legendLabel {
  padding-left: 5px; }

#scrollUp {
  bottom: 10px;
  right: 20px;
  width: 50px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: white;
  background-color: #d14c4d;
  -webkit-transition: bottom 150ms linear;
  -moz-transition: bottom 150ms linear;
  transition: bottom 150ms linear; }
  #scrollUp:hover {
    background-color: #d14c4d; }

.fontawesome-icon-list {
  margin-top: 0; }
  .fontawesome-icon-list .fa-hover a {
    display: block;
    color: #4d4d4d;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
    margin: 2px; }
    .fontawesome-icon-list .fa-hover a .fa {
      width: 32px;
      font-size: 14px;
      display: inline-block;
      text-align: right;
      margin-right: 10px; }
    .fontawesome-icon-list .fa-hover a:hover {
      background-color: #5b90bf;
      color: #ffffff;
      text-decoration: none; }
      .fontawesome-icon-list .fa-hover a:hover .fa {
        font-size: 18px;
        vertical-align: -2px; }
      .fontawesome-icon-list .fa-hover a:hover .text-muted {
        color: gray; }

.widget-full {
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  position: relative; }
  .widget-full.btm-margin {
    margin-bottom: 20px; }
  .widget-full h4.widget-header {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px; }

.jvectormap-label {
  position: absolute;
  display: none;
  border: solid 1px #cc3739;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #cc3739;
  color: white;
  font-size: 12px;
  padding: 6px 12px; }

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.map {
  width: 100%;
  height: 240px; }

.visitors-total {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right; }
  .visitors-total h3 {
    font-size: 30px;
    color: #d66061;
    margin: 0; }
  .visitors-total p {
    margin: 0;
    padding: 0;
    color: #4d4d4d; }

@media (max-width: 767px) {
  .visit-total {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visit-total {
    display: none; } }
.visit-stats {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 220px; }
  .visit-stats ul {
    margin: 0 0 10px 0;
    padding: 0;
    list-style-type: none; }
    .visit-stats ul li {
      width: 33%;
      float: left;
      text-align: center; }
      .visit-stats ul li .donut {
        position: relative;
        width: 48px;
        margin: auto; }
        .visit-stats ul li .donut span {
          position: absolute;
          top: 17px;
          left: 12px;
          color: #4d4d4d;
          font-size: 12px; }
      .visit-stats ul li h2 {
        margin: 5px 0 0 0;
        padding: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600; }
      .visit-stats ul li p {
        color: #4d4d4d;
        padding: 0;
        margin: 0; }

@media (max-width: 767px) {
  .visit-stats {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visit-stats {
    display: none; } }
#external-events .btn {
  margin-bottom: 3px;
  display: block; }

.timeline {
  list-style: none;
  position: relative;
  max-width: 1000px;
  padding: 20px 10px;
  margin: 0 auto;
  overflow: hidden; }
  .timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background-color: #ffd6a0;
    height: 100%;
    width: 1px;
    display: block; }
  .timeline .timeline-row {
    padding-left: 50%;
    position: relative;
    z-index: 10; }
    .timeline .timeline-row .timeline-time {
      position: absolute;
      right: 50%;
      top: 31px;
      text-align: right;
      margin-right: 40px;
      font-size: 16px;
      line-height: 1.3;
      font-weight: 600; }
      .timeline .timeline-row .timeline-time small {
        display: block;
        color: #76bbad;
        font-size: 11px;
        font-weight: 600; }
    .timeline .timeline-row .timeline-icon {
      position: absolute;
      top: 30px;
      left: 50%;
      margin-left: -20px;
      width: 38px;
      height: 38px;
      background-color: #d1d1d1;
      text-align: center;
      overflow: hidden;
      padding: 2px;
      color: white;
      font-size: 14px;
      z-index: 100; }
      .timeline .timeline-row .timeline-icon > div {
        line-height: 34px;
        font-size: 16px; }
    .timeline .timeline-row .timeline-content {
      margin-left: 40px;
      position: relative;
      background-color: white;
      color: #333333; }
      .timeline .timeline-row .timeline-content:after {
        content: "";
        position: absolute;
        top: 48px;
        left: -41px;
        height: 1px;
        width: 40px;
        background-color: #ffd6a0;
        z-index: -1; }
      .timeline .timeline-row .timeline-content .panel-body {
        padding: 15px 15px 2px;
        position: relative;
        z-index: 10; }
      .timeline .timeline-row .timeline-content h2 {
        font-size: 22px;
        margin-bottom: 12px;
        margin-top: 0;
        line-height: 1.2; }
      .timeline .timeline-row .timeline-content p, .timeline .timeline-row .timeline-content img {
        margin-bottom: 15px; }
    .timeline .timeline-row:nth-child(odd) {
      padding-left: 0;
      padding-right: 50%; }
      .timeline .timeline-row:nth-child(odd) .timeline-time {
        right: auto;
        left: 50%;
        text-align: left;
        margin-right: 0;
        margin-left: 30px; }
      .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 40px;
        margin-left: 0; }
        .timeline .timeline-row:nth-child(odd) .timeline-content:after {
          left: auto;
          right: -41px; }
  .timeline.animated .timeline-row .timeline-content {
    opacity: 0;
    left: 20px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s; }
  .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
    left: -20px; }
  .timeline.animated .timeline-row.active .timeline-content {
    opacity: 1;
    left: 0; }
  .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
    left: 0; }

@media (max-width: 1200px) {
  .timeline {
    padding: 15px 10px; }
    .timeline:after {
      left: 28px; }
    .timeline .timeline-row {
      padding-left: 0;
      margin-bottom: 16px; }
      .timeline .timeline-row .timeline-time {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px; }
        .timeline .timeline-row .timeline-time strong {
          display: inline-block;
          margin-right: 10px; }
      .timeline .timeline-row .timeline-icon {
        top: 52px;
        left: -2px;
        margin-left: 0; }
      .timeline .timeline-row .timeline-content {
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative; }
        .timeline .timeline-row .timeline-content:after {
          right: auto !important;
          left: -20px !important;
          top: 32px; }
      .timeline .timeline-row:nth-child(odd) {
        padding-right: 0; }
        .timeline .timeline-row:nth-child(odd) .timeline-time {
          position: relative;
          right: auto;
          left: auto;
          top: 0;
          text-align: left;
          margin: 0 0 6px 56px; }
        .timeline .timeline-row:nth-child(odd) .timeline-content {
          margin-right: 0;
          margin-left: 55px; }
    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
      left: 20px; }
    .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
      left: 0; } }
ul.cpu-memory {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.cpu-memory li {
    background: #dbe3ec;
    height: 8px;
    margin-bottom: 4px; }
    ul.cpu-memory li.cpu {
      background: #99afc9; }
      ul.cpu-memory li.cpu:hover {
        background: #7796b7; }
    ul.cpu-memory li.memory {
      background: #db7475; }
      ul.cpu-memory li.memory:hover {
        background: #e69d9d; }
    ul.cpu-memory li:hover {
      background: #cbd6e3; }
    ul.cpu-memory li:last-child {
      margin-bottom: 0; }

ul.clients-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.clients-list li.client {
    padding: 8px 0;
    border-bottom: 1px solid #e6e6e6; }
    ul.clients-list li.client img.avatar {
      height: 30px;
      width: 30px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      float: left; }
    ul.clients-list li.client .client-details {
      margin-left: 40px;
      height: 30px;
      position: relative; }
      ul.clients-list li.client .client-details p {
        margin: 0; }
        ul.clients-list li.client .client-details p span.name {
          color: #333333;
          line-height: 12px;
          font-size: 12px;
          display: block;
          font-weight: 600;
          margin-bottom: 5px; }
        ul.clients-list li.client .client-details p span.email {
          color: #666666;
          line-height: 12px;
          font-size: 11px;
          display: block; }
      ul.clients-list li.client .client-details ul.icons-nav {
        margin: 0;
        list-style-type: none;
        padding: 0;
        position: absolute;
        right: 0;
        bottom: 0; }
        ul.clients-list li.client .client-details ul.icons-nav li {
          float: left;
          margin-left: 10px; }
          ul.clients-list li.client .client-details ul.icons-nav li a {
            padding: 5px; }
            ul.clients-list li.client .client-details ul.icons-nav li a i {
              color: #4d4d4d;
              cursor: pointer;
              font-size: 14px; }
              ul.clients-list li.client .client-details ul.icons-nav li a i:hover {
                color: #d66061; }
          ul.clients-list li.client .client-details ul.icons-nav li:first-child {
            padding-left: 0; }
          ul.clients-list li.client .client-details ul.icons-nav li:last-child {
            padding-right: 0; }
    ul.clients-list li.client:first-child {
      padding-top: 0; }
    ul.clients-list li.client:last-child {
      padding-bottom: 0;
      border-bottom: 0; }

ul.appointments {
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none; }
  ul.appointments li {
    border-bottom: 1px solid #d9d9d9;
    padding: 8px 0;
    font-size: 11px;
    color: #595959;
    cursor: pointer; }
    ul.appointments li i {
      margin-right: 8px;
      font-size: 12px; }
    ul.appointments li:hover {
      color: #d66061; }
    ul.appointments li:first-child {
      text-decoration: line-through; }
    ul.appointments li .line-through {
      color: #d66061; }

.label {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.badge-default {
  background-color: #e0e0e0; }
  .badge-default[href]:hover, .badge-default[href]:focus {
    background-color: #ededed; }

.badge-primary {
  background-color: #666666; }
  .badge-primary[href]:hover, .badge-primary[href]:focus {
    background-color: #595959; }

.badge-success {
  background-color: #76bbad; }
  .badge-success[href]:hover, .badge-success[href]:focus {
    background-color: #98ccc1; }

.badge-info {
  background-color: #5b90bf; }
  .badge-info[href]:hover, .badge-info[href]:focus {
    background-color: #80a9cd; }

.badge-warning {
  background-color: #ffaa3a; }
  .badge-warning[href]:hover, .badge-warning[href]:focus {
    background-color: #ffc06d; }

.badge-danger {
  background-color: #d66061; }
  .badge-danger[href]:hover, .badge-danger[href]:focus {
    background-color: #e08989; }

.list-group-item-success {
  color: white;
  background-color: #76bbad; }

a.list-group-item-success {
  color: white; }
  a.list-group-item-success .list-group-item-heading {
    color: inherit; }
  a.list-group-item-success:hover, a.list-group-item-success:focus {
    color: white;
    background-color: #65b3a3; }
  a.list-group-item-success.active {
    color: white;
    background-color: #65b3a3;
    border-color: #65b3a3; }
    a.list-group-item-success.active:hover, a.list-group-item-success.active:focus {
      color: white;
      background-color: #57ac9b;
      border-color: #57ac9b; }

.list-group-item-info {
  color: white;
  background-color: #5b90bf; }

a.list-group-item-info {
  color: white; }
  a.list-group-item-info .list-group-item-heading {
    color: inherit; }
  a.list-group-item-info:hover, a.list-group-item-info:focus {
    color: white;
    background-color: #4984b8; }
  a.list-group-item-info.active {
    color: white;
    background-color: #4984b8;
    border-color: #4984b8; }
    a.list-group-item-info.active:hover, a.list-group-item-info.active:focus {
      color: white;
      background-color: #4279aa;
      border-color: #4279aa; }

.list-group-item-warning {
  color: white;
  background-color: #ffaa3a; }

a.list-group-item-warning {
  color: white; }
  a.list-group-item-warning .list-group-item-heading {
    color: inherit; }
  a.list-group-item-warning:hover, a.list-group-item-warning:focus {
    color: white;
    background-color: #ff9f21; }
  a.list-group-item-warning.active {
    color: white;
    background-color: #ff9f21;
    border-color: #ff9f21; }
    a.list-group-item-warning.active:hover, a.list-group-item-warning.active:focus {
      color: white;
      background-color: #ff960c;
      border-color: #ff960c; }

.list-group-item-danger {
  color: white;
  background-color: #d66061; }

a.list-group-item-danger {
  color: white; }
  a.list-group-item-danger .list-group-item-heading {
    color: inherit; }
  a.list-group-item-danger:hover, a.list-group-item-danger:focus {
    color: white;
    background-color: #d14c4d; }
  a.list-group-item-danger.active {
    color: white;
    background-color: #d14c4d;
    border-color: #d14c4d; }
    a.list-group-item-danger.active:hover, a.list-group-item-danger.active:focus {
      color: white;
      background-color: #cd3c3d;
      border-color: #cd3c3d; }

.list-group-item-primary {
  color: white;
  background-color: #333333; }

a.list-group-item-primary {
  color: white; }
  a.list-group-item-primary .list-group-item-heading {
    color: inherit; }
  a.list-group-item-primary:hover, a.list-group-item-primary:focus {
    color: white;
    background-color: #262626; }
  a.list-group-item-primary.active {
    color: white;
    background-color: #262626;
    border-color: #262626; }
    a.list-group-item-primary.active:hover, a.list-group-item-primary.active:focus {
      color: white;
      background-color: #1c1c1c;
      border-color: #1c1c1c; }

@media (max-width: 767px) {
  .fc-header-left {
    display: none; }

  .fc-header-center {
    text-align: left !important; } }
.progress-bar-success {
  background-color: #76bbad; }

.progress-bar-info {
  background-color: #5b90bf; }

.progress-bar-warning {
  background-color: #ffaa3a; }

.progress-bar-danger {
  background-color: #d66061; }
